{% extends "base.html" %}
{%  block content %}
    <form action="" method="post">
        <div class="form-group">
            <label for="Name">Name</label>
              <input type="text" name="name"
               placeholder="name" class="form-control"
               value="{{ request.form['name'] }}"></input>


        </div>
        <div class="form-group">
              <label for="second_name">password</label>
              <input type="text" name="password"
               placeholder="password" class="form-control"
               value="{{ request.form['password'] }}"></input>
        </div>



        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    <p><a href="{{ url_for('registration') }}">if you don't have account</a></p>
    </form>
{% endblock %}